---
const message = "Happy New Year!";
---

<div
  class="flex items-center justify-center bg-linear-to-tl from-lime-400 to-green-600 px-4 py-2 text-sm font-bold text-white sm:px-6 lg:px-8"
>
  {message}
</div>
